<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146512868816-4hrnveo7bcttgccv96jchj176rudba0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146512868816-4hrnveo7bcttgccv96jchj176rudba0f</string>
	<key>API_KEY</key>
	<string>AIzaSyDAlM6C3npTf1JLCcQ9-leGf_Ik_TD0DdI</string>
	<key>GCM_SENDER_ID</key>
	<string>146512868816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>buddy-ai-4fe54</string>
	<key>STORAGE_BUCKET</key>
	<string>buddy-ai-4fe54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146512868816:ios:fd8865612e64b39e1ff5d5</string>
</dict>
</plist>